html, body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    padding: 1rem;
}

.form-section, .results-section, .simulation-section {
    margin-bottom: 2rem;
}

h1 {
    color: #5c5c5c;
}

h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
}

li:last-child {
    border-bottom: none;
}

button, input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover, input[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f8f8f8;
}

.sim {
    display: flex;
    padding: 100px; /* This should be in the format of padding: 100px; if you want to apply it on all sides */
    justify-content: space-around; /* This will space out your columns evenly */
  }
  
  .column {
    display: flex;
    flex-direction: column; /* This makes sure your items are stacked vertically */
  }
  
  @media screen and (max-width: 600px) {
    .sim {
      flex-direction: column; /* Stack the columns on top of each other on smaller screens */
    }
  }



/* Responsive layout for smaller screens
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
} */
