html, body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 10px;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    padding: 1rem;
}

.form-section, .results-section, .simulation-section {
    margin-bottom: 2rem;
}

h1 {
    color: #5c5c5c;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5rem;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
}

li:last-child {
    border-bottom: none;
}

button, input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover, input[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 4px 8px;
    line-height: 1.2;
    width: max-content;
}

th {
    background-color: #f8f8f8;
}







.simSection {
    border-style: solid;
    border-color: #5c5c5c;
    border-width: 2px;
    margin-top: 20px;
}

.sim {
    display: flex;
    justify-content: center; 

  }
  
.simColumn {
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
  }
  
  @media screen and (max-width: 600px) {
    .sim {
      flex-direction: column; /* Stack the columns on top of each other on smaller screens */
    }
  }

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}






.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    border-style: solid;
    border-color: #5c5c5c;
    border-width: 2px;
}

.chart {
    flex: 2;  /* Allows the chart to take twice the space of the table */
}

.table-container {
    flex: 1;  /* Table will take up the remaining space */
}

.probability-columns {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Creates five columns with equal width */
    gap: 10px; /* Sets the gap between grid items */
    justify-content: center; /* This centers the columns in the flex container */
    flex-wrap: wrap; /* Allows the columns to wrap if needed */
    gap: 10px;
    max-width: 1200px; /* Adjust the max width as needed */
    margin: 0 auto; /* This centers the container itself in the parent */
}

.column {
    flex: 1;
    min-width: calc(20% - 10px); /* Adjust width to fit five columns, accounting for the gap */
}

.card-probability {
    margin-bottom: 0px; /* Space between each card's probabilities */
    border-style: solid;
    border-color: #979797;
    border-width: 2px;
    display: block;
    /* If needed, add padding here to create space inside each .card-probability */
}

/* Responsive layout for smaller screens
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
} */
