<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeHands - Home</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <h1>Pokemon Deck Analyzer</h1>
    <form action="#simulation-results" method="post" onsubmit="return validateDecklist()">
        <textarea name="decklist" rows="20" cols="40" placeholder="Enter your decklist here in PTCGL format."></textarea>
        <br>
        <input type="submit" value="Analyze Deck">
    </form>


    
</body>

</html>
